#root {
  max-width: 1280px;
  margin: 5vw 10vw 5vw 10vw ;
  text-align: center;
}

.logo {
  height: 12em;
  padding: .5em;
  font-family: 'Roboto', sans-serif;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #abab00);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f9f932);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
